.item {
    display: flex;
    padding: 35px;
    gap: 15px;
    background-color: hsl(0, 0%, 13%);

    color: white;

    .left {
        // position: sticky;
        top: 10;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        img {
            height: 400px;
            object-fit: contain;
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .right {
        flex: 1;
        background-color: #fff;
        color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        height: 450px;
        // position: sticky;


        .bids {
            display: flex;
            flex-direction: column;
            // gap: 10px;
            align-items: center;
            overflow-y: scroll;

            span {
                padding: 10px;
                background-color: #F8981D;
                color: white;
                margin: 7px;
                width: fit-content;
                border-radius: 5px;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                cursor: pointer;
                padding: 10px;
                border-radius: 7px;
                color: white;
                background-color: #F8981D;
                height: 40px;
                width: 100px;
                border: none;
                outline: none;
            }
        }
    }
}